* {
    margin: 0;
    padding: 0;
}

@font-face {}

body {
    background-color: white;
    font-family: "Times New Roman", sans-serif;
    color: black;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.logo {
    text-align: center;
    padding: 15px 0 10px 0;
}

.logo img {
    width: 250px;
}

.nav {
    background-color: black;
    padding: 15px 0 15px 0;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 450px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-family: cursive;
}

.main-about {
    padding: 0 0 35px 0;
}

.img-about {

}

.img-about img {
    position: absolute;
    z-index: -1;
    width: 125%;
    right: 0;
}

.about-info {
    color: white;
}

.about-h1 {
    padding: 50px 0 50px 0;
}

.about-h1-1 {
    font-family: "Snell Roundhand", cursive;
    font-size: 80px;
}

.about-h1-2 {
    font-family: "Brush Script Std", cursive;
    font-size: 80px;
    text-align: right;
}

.about-p {
    font-family: "Brush Script Std", cursive;
    font-size: 35px;
}

.about-ul {
    padding: 30px 0 0 30px;
    font-family: "Brush Script Std", cursive;
    font-size: 25px;
}

.about-button {
    padding: 38px 0 0 0;
    float: right;
}

.button-main {
    font-family: "Brush Script MT", cursive;
    font-weight: bolder;
    border-radius: 15px;
    background: white;
    padding: 15px 35px;
    font-size: 21px;
    outline: none;
    cursor: pointer;
    border: 0;
    color: black;
}

.button-main:hover {
    animation: colorMove 3s ease infinite;
}

@keyframes colorMove {
    75% { transform: translateY(-10px); }
}

.products {
    padding: 80px 0 0 0;
}

.products-menu {
    background-color: black;
    margin: 0 700px 20px 700px;
    border-radius: 15px;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 10px 0 10px 0;
    margin-left: 75px;
}

.menu-item a {
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    line-height: 130%;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.title {
    text-align: center;
}

.h1 {
    font-size: 55px;
    font-family: "Brush Script Std", cursive;
}

.products-p {
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
    padding: 0 0 40px 0;
}

.container-products {
    margin: 0 auto;
    max-width: 1512px;
}

.products-items {
    display: grid;
    grid-template-columns: repeat(4, 360px);
    gap: 30px 24px;
}

.products-item {
    color: black;
}

.product-item-image {
    text-align: center;
}

.product-item-image img {
    height: 350px;
    position: relative;
    max-width: 100%;
}

.product-item-details {
    padding: 20px;
}

.product-item-title {
    font-family: "Trattatello", cursive;
    font-size: 23px;
}

.item-color-size {
    padding: 20px 0 20px 0;
}

.product-item-color {
    font-family: "Trattatello", cursive;
    font-size: 20px;
}

.product-item-size {
    font-family: "Trattatello", cursive;
    font-size: 20px;
}

.product-item-prise {
    font-family: "Trattatello", cursive;
    font-size: 25px;
    text-align: right;
    font-weight: bold;
}

.products-button {
    padding: 10px 0 0 0;
}

.product-item-button {
    font-family: "Brush Script MT", cursive;
    font-weight: bolder;
    background: black;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border: 0;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    padding: 10px 0 10px 0;
}

.why-us {
    margin: 40px 0 0 0;
}

.blocks-container {
    margin: 0 auto;
    max-width: 1300px;
}

.blocks {
    display: grid;
    grid-template-columns: repeat(2, 660px);
    gap: 124px 0;
    margin-top: 20px;
}

.block-img {
    text-align: center;
    position: absolute;
}

.block-img img {
    height: 480px;
    position: relative;
    max-width: 100%;
    z-index: -1;
}

.block-details {
    font-family: "Brush Script MT", cursive;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 120px;
    backdrop-filter: blur(1.5px);
}

.block-number {
    padding: 5px;
    font-weight: bold;
}

.block-feature {
    padding: 0 0 30px 0;
    font-weight: bold;
}

.block-info {
    padding: 0 20px 0 20px;
}

.gallery {
    margin-top: 170px;
}